@use '../../../global/css/abstracts' as *;

.logo {
    @include flex(center, center, $space-sm);
    text-decoration: none;
    color: $text-color-main;

    &__label {
        font-family: $font-family-logo;
        @include font-size($text-lg, $text-lg-mb);
        font-weight: 700;
        font-style: italic;
        line-height: $line-height-tight;
    }

    &__icon {
        @include size($text-icon);
        stroke: $text-color-light;

        &-container {
            @include flex();
            @include size(3.82rem);
            background-color: $brand-primary-main;
            padding: $space-xs;
            border-radius: 100%;
        }
    }

    &:hover {
        & .logo__icon {
            &-container {
                transform: scale(1.05);
                transition: transform ease 300ms;
            }
        }
    }
}
