@use '../../../global/css/abstracts';

.logo {
    @include abstracts.flex(center, center, abstracts.$space-sm);
    text-decoration: none;
    color: abstracts.$text-color-main;

    &__label {
        font-family: abstracts.$font-family-logo;
        @include abstracts.font-size(abstracts.$text-lg, abstracts.$text-lg-mb);
        font-weight: 700;
        font-style: italic;
        line-height: abstracts.$line-height-tight;
    }

    &__icon {
        @include abstracts.size(abstracts.$text-icon);
        stroke: abstracts.$text-color-light;

        &-container {
            @include abstracts.flex();
            @include abstracts.size(3.82rem);
            background-color: abstracts.$brand-primary-main;
            padding: abstracts.$space-xs;
            border-radius: 100%;
        }
    }

    &:hover {
        & .logo__icon {
            &-container {
                transform: scale(1.05);
                transition: transform ease 300ms;
            }
        }
    }
}
