{% load static %}

<section class="search-bar">
    <div class="container search-bar__container">
        <form class="search-bar__form">
            <div class="search-bar__input-wrapper">
                <i data-lucide="search" class="search-bar__icon"></i>
                <input 
                    type="text" 
                    name="q" 
                    placeholder="Buscar receitas..." 
                    class="search-bar__input"
                    value="{{ request.GET.q }}"
                >
            </div>
            
            <div class="search-bar__filters">
                <button type="button" class="search-bar__filter-btn">
                    <i data-lucide="filter"></i>
                </button>
                
                <select name="category" class="search-bar__select">
                    <option value="">Todas</option>
                    </select>
            </div>
        </form>
    </div>
</section>