{% extends 'recipes/layouts/base.html' %}

{% block title %}
   {{ block.super }} - Home | Receitas Incríveis
{% endblock title %}

{% block content %}
{% include "recipes/components/home/hero.html" %}

{% include "recipes/components/home/benefits.html" %}

{% if weekly_highlights %}
    {% include "recipes/components/home/featured-carousel.html" with recipes=weekly_highlights%}
{% endif %}

{% if most_viewed %}
    {% include "recipes/components/home/most-viewed-carousel.html" with recipes=most_viewed %}
{% endif %}

{% include "recipes/components/home/highlights.html" %}

{% include "recipes/components/home/categories.html" %}

{% include "recipes/components/home/ticker.html" %}

{% include "recipes/components/home/share.html" %}

{% include "recipes/components/ui/scroll-top.html" %}

{% endblock content %}
