{% extends "recipes/layouts/base.html" %}

{% block title %} {{ block.super }} - {{ recipe.title }} {% endblock title %}

{% block content %}
<article class="recipe-detail">
    <div class="container recipe-detail__container">

        {% include "recipes/components/recipe_detail/recipe_header.html" %}
        {% include "recipes/components/recipe_detail/recipe_hero.html" %}
        {% include "recipes/components/recipe_detail/recipe_main_info.html" %}

        <div class="recipe-detail__grid">
            <div class="recipe-detail__main">

                {% include "recipes/components/recipe_detail/recipe_actions.html" %}
                {% include "recipes/components/recipe_detail/recipe_ingredients.html" %}
                {% include "recipes/components/recipe_detail/recipe_steps.html" %}
                {% include "recipes/components/recipe_detail/recipe_reviews.html" %}

            </div>

            <aside class="recipe-sidebar">
                {% include "recipes/components/recipe_detail/sidebar/recipe_nutrition.html" %}
                {% include "recipes/components/recipe_detail/sidebar/recipe_share.html" %}
            </aside>
        </div>
    </div>

    {% include "recipes/components/scroll-top.html" %}
    
</article>
{% endblock content %}