@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack:
    'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack:
    'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco',
    monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;

/// Container's maximum width
/// @type Length
$max-width: 980px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    'small': 320px,
    'medium': 768px,
    'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;

// COLORS - BRAND
$brand-primary-light: #ff9380;
$brand-primary-main: #ff5436;
$brand-primary-dark: #ff3e17;

$brand-secondary-light: #88d487;
$brand-secondary-main: #50bf4e;
$brand-secondary-dark: #2d782b;

// COLORS - TEXT
$text-color-main: #1c1c1c;
$text-color-light: #ffffff;
$text-color-muted: #847062;

// COLORS - BORDER
$border-light: #e0e0e0;
$border-card: #ffffff;

// SEMANTIC
$color-success: #1a971d;
$color-alert: #c4d620;
$color-error: #d62020;

// FONT-SIZES
$font-family-main: 'Inter', $text-font-stack;
$font-family-logo: 'Lobster Two', sans-serif;
$font-family-secondary: 'Playfair Display', serif;

// TEXTS - DESKTOP SIZES
$text-xxl: 8rem;
$text-xl: 4.8rem;
$text-lg: 3.2rem;
$text-md: 2rem;
$text-sm: 1.6rem;
$text-xs: 1.4rem;
$text-icon: 2.4rem;

// TEXTS - MOBILE SIZES
$text-xxl-mb: 4rem;
$text-xl-mb: 3.2rem;
$text-lg-mb: 2.4rem;
$text-md-mb: 1.8rem;
$text-sm-mb: 1.6rem;
$text-xs-mb: 1.2rem;
$text-icon-mb: 1.33rem;

// TEXTS - LINE HEIGHTS
$line-height-tight: 1.1; // h1 e h2
$line-height-heading: 1.2; // h3 e h4

// BACKGROUND - PAGE$
$bg-light: #ffffff;
$bg-main: #f9f7f5;
$bg-cream: #fdf2d5;
$bg-opacity: #ffffffc7;
$bg-muted: #fafafa;

// SPACING SCALE
$space-xs: 0.4rem; // 4px
$space-sm: 0.8rem; // 8px
$space-md: 1.6rem; // 16px
$space-lg: 2.4rem; // 24px
$space-xl: 3.2rem; // 32px
$space-xxl: 4.8rem; // 48px

// BOX SHADOW
$box-shadow-sm: 0 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.15);

// BUTTONS
$btn-primary-bg: $brand-primary-main;
$btn-primary-hover: $brand-primary-dark;
$btn-radius: 2rem; // 20px
$btn-padding: 1.6rem; //16px

// INPUTS
$input-bg: #ffffff;
$input-border: #ffffffe5;
$input-border-focus: $brand-primary-main;
$input-height: 4.4rem; // 44px
