@use '../../../../global/css/abstracts/' as *;

.recipe-detail {
    background-color: $bg-main;
    padding: $space-xl 0 $space-xxl;
    font-family: $font-family-main;
    color: $text-color-main;

    @media (max-width: 768px) {
        padding: $space-lg 0 $space-xl;
    }

    &__container {
        > * {
            margin-bottom: $space-lg;
        }

        > *:not(:last-child) {
            margin-bottom: $space-lg;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: minmax(0, 1fr) 34rem;
        gap: $space-xxl;
        align-items: flex-start;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            gap: $space-xl;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $space-xxl;

        @media (max-width: 768px) {
            gap: $space-xl;
        }
    }
}

.recipe-sidebar {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    position: sticky;
    top: $space-xl;

    @media (max-width: 1024px) {
        position: static;
    }
}
