<section class="benefits">
    <div class="container benefits__container">
        {% include "recipes/components/ui/benefit-card.html" with class="benefits__icon-container--chef" icon="chef-hat" title="Receitas Verificadas" description="Todas as receitas são revisadas pela nossa equipe antes de serem publicadas." %}

        {% include "recipes/components/ui/benefit-card.html" with class="benefits__icon-container--book" icon="book-open" title="Instruções Detalhadas" description="Passo a passo completo para você preparar cada receita com perfeição." %} 

        {% include "recipes/components/ui/benefit-card.html" with class="benefits__icon-container--users" icon="users" title="Comunidade Ativa" description="Compartilhe suas receitas e inspire outros amantes da culinária." %}
    </div>
</section>
