{% load static %}

<section class="featured">
    <div data-aos="fade-down" class="container">
        <header class="featured__header">
            <h2 class="featured__title">Destaques da Semana</h2>
        </header>
        <div class="featured__carousel">
            <div class="featured__wrapper">
                {% for recipe in recipes %}
                    <article class="featured__item featured__item--active">
                        <div class="featured__image-container">
                            {% if recipe.cover %}
                                <img
                                    src="{{ recipe.cover.url }}"
                                    alt="{{ recipe.title }}"
                                    class="featured__image"
                                />
                            {% else %}
                                <img
                                    src="{% static 'recipes/images/default.png' %}"
                                    alt="Receita sem imagem"
                                    class="featured__image"
                                />
                            {% endif %}
                        </div>
                        <div class="featured__content">
                            <h3 class="featured__item-title">
                                {{ recipe.title }}
                            </h3>
                            <p class="featured__description">
                                {{ recipe.description|truncatechars:150 }}
                            </p>
                            <a href="{% url 'recipes:recipe_detail' slug=recipe.slug %}" class="featured__button">Ver Receita</a>
                        </div>
                    </article>
                {% endfor %}
            </div>
            <button
                class="featured__nav featured__nav--prev"
                aria-label="Anterior"
            >
                <i data-lucide="chevron-left"></i>
            </button>
            <button
                class="featured__nav featured__nav--next"
                aria-label="Próximo"
            >
                <i data-lucide="chevron-right"></i>
            </button>

            <footer class="featured__dots">
                {% for recipe in recipes %}
                    <span class="featured__dot {{ forloop.first|yesno:'featured__dot--active,' }}"></span>
                {% endfor %}
            </footer>
        </div>
    </div>
</section>
