@use '../../../../global/css/abstracts/' as *;


.hero {
    position: relative;
    min-height: 85vh;
    overflow: hidden;
    @include flex();
    background-size: cover;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.15) 75%,
            rgba(255, 255, 255, 1) 100%
        );
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-color: rgba($brand-primary-main, 0.6);
    }

    &__container {
        z-index: 10;
        @include flex();
    }

    &__box {
        @include flex(center, center, $space-md, column);
        max-width: 48rem;
    }

    &__title {
        font-family: $font-family-secondary;
        color: $text-color-light;
        text-align: center;
        line-height: $line-height-tight;
        letter-spacing: -0.02em;
        @include font-size($text-xxl, $text-xxl-mb);

        &--highlight {
            font-style: italic;
        }
    }

    &__highlight {
        @include flex(center, center, $space-xs);
        color: $text-color-light;
        padding: $space-sm;
        font-size: $text-xs;
        background-color: rgba($bg-main, 0.5);
        border-radius: 2rem;
    }

    &__icon {
        @include size($text-icon-mb);
    }

    &__text {
        text-align: center;
        color: $text-color-light;
        @include font-size($text-sm, $text-sm-mb);
    }

    &__links {
        @include flex(center, center, $space-md);
        width: 100%;
    }

    &__link {
        text-align: center;
        border-radius: 2rem;
        background-color: $bg-main;
        padding: $space-md;
        color: $brand-primary-main;
        font-weight: 400;
        @include font-size($text-xs, $text-xs-mb);
        &:hover {
            transition: all ease 300ms;
            color: $text-color-light;
            background-color: rgba($bg-main, 0.5);
        }
    }
}

@media (max-width: 768px) {
    .hero {
        &__links {
            flex-direction: column;
        }

        &__link {
            width: 100%;
        }
    }

    
}
