<footer class="footer">
        <div class="container footer__container">
            <div class="footer__grid">

                <div class="footer__item">
                    <div class="logo">
                        <div class=logo__icon-container">
                            <i data-lucide="chef-hart" class="logo__icon"></i>
                        </div>
                        <span class="logo__label">Sabores</span>
                    </div>
                    
                    <p class="footer__text">Descubra receitas incríveis compartilhadas pela nossa comunidade de apaixonados por culinária.</p>

                    <div class="footer__social-container">
                        <a class="footer__social" href="#"><i data-lucide="instagram" class="footer__social-icon"></i></a>
                        <a class="footer__social" href="#"><i data-lucide="facebook" class="footer__social-icon"></i></a>
                        <a class="footer__social" href="#"><i data-lucide="x" class="footer__social-icon"></i></a>
                    </div>
                </div>

            </div>

            <div class="footer__reserved">
                <p class="footer__text">&copy; 2026 Sabores. Todos os direitos reservados.</p>
            </div>
        </div>
</footer>