    <header class="header">
        <div class="container header__container">
            <div class="logo">
                <div class="logo__icon-container">
                    <i data-lucide="chef-hart" class="logor__icon"></i>
                </div>
                <span class="logo__label">Sabores</span>
            </div>

            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item">
                        <a href="header__link">Receitas</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>