<div class="menu__overlay" id="menuOverlay"></div>

<div class="menu__mobile" id="mobileMenu">
    <nav class="menu__nav">
        <ul class="menu__mobile-list">
            <li>
                <a href="{% url 'recipes:recipes' %}" class="menu__link">
                    Receitas
                </a>
            </li>
            <li><a href="#" class="menu__link">Comunidade</a></li>
            <hr />
            <li><a href="{% url 'recipes:login' %}" class="menu__link">Entrar</a></li>
        </ul>
    </nav>
</div>
